<div>
      <div class="container mx-auto px-4 py-8">
        <button
          class="mb-4 bg-blue-500 text-white px-4 py-2 rounded"
        >
        <%= link_to "Back", :back %>
        </button>

        <div class="relative bg-gray-800 rounded-lg shadow-md overflow-hidden">
          <div class="relative min-h-[30rem] sm:min-h-[35rem] lg:min-h-[40rem]">
            <img
              src="https://image.tmdb.org/t/p/w1280<%= @movie["backdrop_path"] %>" alt="<%= @movie["original_title"] %>"
              class="w-full h-full object-cover filter blur-lg"
            />

            <div class="absolute top-1/2 left-1/2 sm:left-8 transform -translate-y-1/2 -translate-x-1/2 sm:translate-x-0">
              <img
                src="https://image.tmdb.org/t/p/w300<%= @movie["poster_path"] %>" alt="<%= @movie["original_title"] %>"
                class="w-40 sm:w-48 rounded-lg shadow-lg"
              />
            </div>

            <div class="absolute top-3/4 left-1/2 sm:left-64 transform -translate-y-1/2 -translate-x-1/2 sm:translate-x-0 text-white p-4 text-center sm:text-left">
              <h3 class="text-xl sm:text-3xl font-bold mb-4">
                <%= @movie["original_title"] %>
              </h3>
              <p class="text-md sm:text-lg mb-4 text-gray-300">
                Rating: <%= @movie["vote_average"].round(1) %>
              </p> 


              <a
                href="https://www.youtube.com/results?search_query=<%=@movie["original_title"]%>+trailer" 
                target="_blank"
                rel="noopener noreferrer"
                class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition duration-300"
              >
                Watch Trailer
              </a>
            </div>
          </div>
        </div>

        <div class="mt-8 p-4 bg-gray-900 text-white rounded-lg shadow-md">
          <h3 class="text-2xl font-semibold mb-4">Overview</h3>
          <p class="mb-4"><%= @movie["overview"] %></p>

         <div class="block">
            <p class="text-gray-400">
              <strong>Release Date:</strong> <%= @movie["release_date"] %>
            </p>
            <p class="text-gray-400">
              <strong>Runtime:</strong> <%= @movie["runtime"] %> minutes
            </p>
            
            <p class="text-gray-400">
              <strong>Status:</strong> <%= @movie["status"] %>
            </p>
            <p class="text-gray-400 flex text-lg">
              <strong>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  stroke="none"
                  class="w-6 h-6"
                >
                  <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                </svg>
              </strong>
              : <%= @movie["vote_average"].round(1) %>
            </p>
          </div>
        </div>

        <% @review = Review.new%>
        <%= turbo_frame_tag @review do %>
        <%= simple_form_for @review, url: reviews_path, method: :post, html: { class: "mt-8 p-4 bg-gray-900 text-white rounded-lg shadow-md" } do |f| %>
          <h3 class="text-xl font-semibold mb-4">Leave a review</h3>
          
          <div class="flex flex-col text-gray-100 space-y-4 lg:mx-20 lg:mr-40 md:mx-10 sm:mx-5">
            <div>
              <%= f.label :UserId, "Enter your Id", class: "block mb-2" %>
              <%= f.input :user_id, as: :integer, placeholder: "1", input_html: { class: "w-full px-2 py-2 rounded-md resize-none bg-gray-800" }, label: false %>
            </div>

            <div>
              <%= f.label :comment, "Write a comment", class: "block mb-2" %>
              <%= f.input :comment, as: :text, placeholder: "This movie is awesome!", input_html: { rows: 6, class: "w-full px-2 py-2 rounded-md resize-none bg-gray-800" }, label: false %>
            </div>
            
            <div>
              <%= f.label :rating, "Rating", class: "block mb-2" %>
              <%= f.input :rating, as: :integer, placeholder:"Rate this movie from 1 to 10", input_html: { min: 0, max: 10, class: "w-full px-2 py-2 rounded-md bg-gray-800" }, label: false %>
            </div>

            <div class="hidden" ><%= f.input :movie_id, as: :integer, input_html:{value: @movie["id"]} %></div>


            <div>
              <%= f.button :submit, "Send", class: "mb-4 bg-blue-500 text-white px-4 py-2 rounded"%>
            </div>
          </div>
        <% end %>
        <%end%>

        <div class="mt-8 bg-gray-800 text-white rounded-lg shadow-md">
          <h3 class="mt-8 p-4 text-2xl font-semibold">Comments</h3>
          <% if @reviews.any? %>
            <%= turbo_frame_tag "reviews" do %>
            <% @reviews.each do |review| %>
                <%= render "shared/comments", review: review %>
            <% end %>
            <%end%>   
          <% else %>
          <p class="p-8 text-gray-400">No comments available yet</p>
          <% end %>
          
        </div>

      </div>
    </div>