<%= turbo_frame_tag "review_#{review.id}" do %>
<div class="border-b border-gray-700 lg:px-16 py-4">
    <div class="flex items-start gap-4">
        <div class="w-12 h-12 p-2 rounded-full flex justify-center items-center text-white text-3xl bg-blue-500">
        <%= review.user.username[0].upcase %>
        </div>

        <div class="flex-grow">
        <div class="flex justify-between">
            <p class="text-sm text-gray-400 w-full flex justify-between items-center">
            <strong><%= review.user.username %></strong>

            <div>
                <% if review.rating.present? %>
                    <span class="bg-yellow-500 text-black text-xs font-bold py-1 px-2 rounded lg:mr-16">
                    <%= review.rating %>/10
                    </span>
                <% end %>
                <%= button_to "Delete",
                    review_path(review),
                    method: :delete,
                    class: "bg-red-500 text-white rounded-lg px-2 py-1 mt-2" %>
            </div>
            </p>
        </div>

        <div class="flex " >

            <p class="mt-2 text-gray-300"><%= review.comment %></p>
        </div>
        </div>
    </div>
</div>
<%end%>